@using shared_classes.Models

@model PostModel
<form asp-action="Add">
    <input type="hidden" asp-for="BlogId"/>
    <div class="row form-group">
        <div class="col-md-2 col-md-offset-2">
            <label asp-for="Title"></label>
        </div>
        <div class="col-md-2">
            <input class="form-control" asp-for="Title" />
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-2 col-md-offset-2">
            <label asp-for="Text"></label>
        </div>
        <div class="col-md-2">
            <input class="form-control" asp-for="Text" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-4">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </div>
</form>