@using shared_classes.Models
@model IEnumerable<BlogModel>

<div class="row">
    <div class="col-md-10 col-md-offset-2">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>AuthorId</th>
                <th>Date Started</th>
            </tr>
            @Html.DisplayForModel()
        </table>
        <a asp-action="Add">Add</a>
    </div>
</div>